<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<div th:replace="~{fragment :: meta}"></div>
		
		<div th:replace="~{fragment :: styles}"></div>
		
		<title>サブスクリプション解約</title>
	</head>
	
	<body>
		<div class="nagoyameshi-wrapper">
			
			<div th:replace="~{fragment :: header}"></div>
			
			<main>
				<div class="container pt-4 pb-5 nagoyameshi-container">
					<div class="row justify-content-center">
						<div class="col-xl-4 col-lg-5">
							<nav class="mb-4" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
								<ol class="breadcrumb mb-0">
									<li class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>
									<li class="breadcrumb-item active" aria-current="page">サブスクリプション解約</li>
								</ol>
							</nav>
							
							<h2 class="text-center">サブスクリプション解約</h2>
							
							<p class="text-center">有料会員を解約してもよいですか？</p>
							
							<div th:if="${successMessage}" class="alert alert-info" role="alert">
								<span th:text="${successMessage}"></span>
							</div>
							
							<form method="post" th:action="@{/subscription/delete}">
								<div class="form-group d-flex justify-content-center">
									<button class="btn text-white shadow-sm w-50 nagoyameshi-btn-danger">解約</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</main>
			
			<div th:replace="~{fragment :: footer}"></div>
		</div>
		
		<div th:replace="~{fragment :: scripts}"></div>
		<script src="https://js.stripe.com/v3"></script>
		<script th:inline="javascript">
			const sessionId = /*[[${sessionId}]]*/"sessionId";
		</script>
		<script th:src="@{/js/stripe.js}"></script>
	</body>
</html>